div {
  border: double;
  border-width: 10px;
  border-radius: 520px;
  font-size: 15px;
  border-color: black;
  text-align: center;
}
p,
h2 {
  font-size: larger;
  block-size: auto;
}

.container {
  margin: 45px;
  text-align: center;
  background-color: darkblue;
}

button {
  font-size: x-large;
  color: whitesmoke;
  border: p.outset;
  background-color: red;
  border-radius: 5px;
  outline-color: wheat;
}
img {
  border: groove;
  border-radius: 53%;
  border-color: blanchedalmond;
  margin-top: 50px;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: skyblue;
  color: whitesmoke;
}
